[tools]
node = "24.13.0"

[env]
_.path = ["{{config_root}}/node_modules/.bin"]

[tasks.pnpm-install]
description = "installs dependencies with pnpm"
run = "pnpm install"
sources = ["package.json", "pnpm-lock.yaml", "mise.toml"]
outputs = ["node_modules/.pnpm/lock.yaml"]

[tasks.dev]
description = "Calls your dev script in package.json"
run = "node --run dev"
depends = ["pnpm-install"]

[tasks.db-generate]
description = "generate prisma"
run = "pnpm dlx prisma generate"
depends = ["pnpm-install"]

[tasks.db-migrate]
description = "migrate schema database"
run = "pnpm dlx prisma migrate"
depends = ["pnpm-install"]
